<h1><%= @team.name %></h1><br>
<h3>Team Motto: <%= @team.motto %></h3><br>


<% @superheroes.each_with_index do |hero, index| %>
  <div class="superheroes">
    <h3>Hero Name: <%= hero[index].name %></h3><br>
    <h5>Hero Power: <%= hero[index].power %></h5><br>
    <h5>Hero Biography: <%= hero[index].biography %></h5><br>
  </div><br>
<% end %>